{% extends "::layout.html.twig" %}
{% block title %}403: Forbidden{% endblock %}

{% block left_column %}{% endblock %}
{% block right_column %}{% endblock %}

{% block content %}
<div>

<form>

<fieldset>

<h1 class="mdl-typography--display-3 mdl-color-text--blue-900">Forbidden</h1>

<div>

<p>
	
	Sorry, you are not allowed to visit this area. Please contact site administrator if you feel you need
	to access this page.

</p>

</div>


</fieldset>

</form>

</div>
{% endblock %}
