{{ form_start(password_form) }}
            {% form_theme password_form 'form/user_fields.html.twig' %}

<div class="content">
    {{ form_widget(password_form) }}

    <div class="line submit">
    	<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
    		Submit
    	</button>
    </div>
</div>

<script>

	$("#form input[type=password]").each(function() {
		$(this).removeAttr("required").attr("data-required", "true");
	});

	$(window).load(function() {
		setTimeout(function() {
			$("#form input[data-required=true]").each(function() {
				$(this).attr("required", "required").removeAttr("data-required");
			});
		}, 200);
	});

</script>

{{ form_end(password_form) }}
