{% extends "::layout.html.twig" %}
{% block title %}{{ user.name }}{% endblock %}

{% block content %}
    <div class="row register_page">
        <div class="col-sm-8">
        
<fieldset>

            <h1 class="section_title">Edit Your Profile</h1>
            {#<a href="{{ hwi_oauth_login_url('google_contacts') }}"><img src="{{ asset('bundles/framework/img/gp.png') }}" alt="Google+"></a>#}

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar" style="justify-content: left">
      <a href="#personal-details-panel" class="mdl-tabs__tab is-active" style="font-size: 1.3em;">Personal Details</a>
      <a href="#change-your-password-panel" class="mdl-tabs__tab" style="font-size: 1.3em;">Change Your Password</a>
  </div>
  <div class="mdl-tabs__panel is-active" id="personal-details-panel" style="padding-top: 20px;">
        {% include 'AppBundle:User:_form.html.twig' %}
  </div>

                {#<li>#}
                    {#<button class="btn btn-primary drop_down_button" type="button" data-toggle="collapse"#}
                            {#data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">#}
                        {#Company profile#}
                        {#<span class="caret"></span>#}
                    {#</button>#}
                    {#<div class="collapse" id="collapseExample2">#}
                        {#<div class="well">#}
                            {#...2#}
                        {#</div>#}
                    {#</div>#}
                {#</li>#}

  <div class="mdl-tabs__panel" id="change-your-password-panel" style="padding-top: 20px;">
    	{{ render(controller('AppBundle:User:password')) }}
  </div>
 </div>   

</fieldset>

        </div>
    </div>


{% endblock %}